In [ ]:
import io
import pandas as pd
import pyspark
#Importing the Libraries
from pyspark import SparkContext
from pyspark.sql import SparkSession
sc = SparkContext.getOrCreate()
rdd = sc.parallelize([1,2,3,4,5])

print(rdd.collect())
print(rdd.count())
print(rdd.reduce(lambda x,y : x+y))
print(rdd.reduce(lambda x,y : x*y))
print(rdd.take(3))
print(rdd.first())
# print(rdd.saveAsTextFile("ActionsPractice.txt"))

[1, 2, 3, 4, 5]
5
15
120
[1, 2, 3]
1

In [ ]:
import io
import pandas as pd
import pyspark
from pyspark import SparkContext

# Initialize SparkContext
sc = SparkContext.getOrCreate()

# Sample RDD
rdd = sc.parallelize([1, 2, 3, 4, 5])

print("Collect:", rdd.collect())
print("Count:", rdd.count())
print("Reduce (sum):", rdd.reduce(lambda x, y: x + y))
print("Reduce (product):", rdd.reduce(lambda x, y: x * y))
print("Take(3):", rdd.take(3))
print("First:", rdd.first())
print("Min:", rdd.min())
print("Max:", rdd.max())
print("TakeSample(False, 3):", rdd.takeSample(False, 3))
print("Top(3):", rdd.top(3))
print("TakeOrdered(3):", rdd.takeOrdered(3))
print("CountByValue:", dict(rdd.countByValue()))
print("Fold (sum):", rdd.fold(0, lambda x, y: x + y))
print("Aggregate (sum):", rdd.aggregate(0, lambda x, y: x + y, lambda x, y: x + y))
print("Sum:", rdd.sum())
print("Mean:", rdd.mean())
print("Stdev:", rdd.stdev())
print("Variance:", rdd.variance())

Collect: [1, 2, 3, 4, 5]
Count: 5
Reduce (sum): 15
Reduce (product): 120
Take(3): [1, 2, 3]
First: 1
Min: 1
Max: 5
TakeSample(False, 3): [5, 2, 1]
Top(3): [5, 4, 3]
TakeOrdered(3): [1, 2, 3]
CountByValue: {1: 1, 2: 1, 3: 1, 4: 1, 5: 1}
Fold (sum): 15
Aggregate (sum): 15
Sum: 15
Mean: 3.0
Stdev: 1.4142135623730951
Variance: 2.0

In [ ]:
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName("Practice").getOrCreate()
df_pyspark= spark.read.csv("/Employee_Salary_Dataset.csv",header=True,inferSchema=True)
df_pyspark.show()
df_pyspark.groupBy("Gender").sum("salary").show()

+---+----------------+---+------+-------+
| ID|Experience_Years|Age|Gender| Salary|
+---+----------------+---+------+-------+
|  1|               5| 28|Female| 250000|
|  2|               1| 21|  Male|  50000|
|  3|               3| 23|Female| 170000|
|  4|               2| 22|  Male|  25000|
|  5|               1| 17|  Male|  10000|
|  6|              25| 62|  Male|5001000|
|  7|              19| 54|Female| 800000|
|  8|               2| 21|Female|   9000|
|  9|              10| 36|Female|  61500|
| 10|              15| 54|Female| 650000|
| 11|               4| 26|Female| 250000|
| 12|               6| 29|  Male|1400000|
| 13|              14| 39|  Male|6000050|
| 14|              11| 40|  Male| 220100|
| 15|               2| 23|  Male|   7500|
| 16|               4| 27|Female|  87000|
| 17|              10| 34|Female| 930000|
| 18|              15| 54|Female|7900000|
| 19|               2| 21|  Male|  15000|
| 20|              10| 36|  Male| 330000|
+---+----------------+---+------+-------+
only showing top 20 rows

+------+-----------+
|Gender|sum(salary)|
+------+-----------+
|Female|   36988500|
|  Male|   35081650|
+------+-----------+

In [ ]:
df_pyspark.groupBy("Experience_Years").min("salary").show(5)
df_pyspark.groupBy("Experience_Years").max("salary").show(5)
df_pyspark.groupBy("Experience_Years").avg("salary").show(5)
df_pyspark.groupBy("Experience_Years").mean("salary").show(5)
df_pyspark.groupBy("Experience_Years").count().show(5)  #count of number of people in each Department
df_pyspark.groupBy("ID","Experience_Years").sum("salary").show(5)
df_pyspark.groupBy("Experience_Years").agg(({"salary":"sum"})).show(5)
df_pyspark.agg(({"salary":"sum"})).show(5)

+----------------+-----------+
|Experience_Years|min(salary)|
+----------------+-----------+
|              27|   10000000|
|               1|       3000|
|               6|    1400000|
|              16|    7600000|
|               3|      20000|
+----------------+-----------+
only showing top 5 rows

+----------------+-----------+
|Experience_Years|max(salary)|
+----------------+-----------+
|              27|   10000000|
|               1|      50000|
|               6|    1400000|
|              16|    7600000|
|               3|     170000|
+----------------+-----------+
only showing top 5 rows

+----------------+-----------+
|Experience_Years|avg(salary)|
+----------------+-----------+
|              27|      1.0E7|
|               1|    17250.0|
|               6|  1400000.0|
|              16|  7600000.0|
|               3|    95000.0|
+----------------+-----------+
only showing top 5 rows

+----------------+-----------+
|Experience_Years|avg(salary)|
+----------------+-----------+
|              27|      1.0E7|
|               1|    17250.0|
|               6|  1400000.0|
|              16|  7600000.0|
|               3|    95000.0|
+----------------+-----------+
only showing top 5 rows

+----------------+-----+
|Experience_Years|count|
+----------------+-----+
|              27|    1|
|               1|    4|
|               6|    1|
|              16|    1|
|               3|    2|
+----------------+-----+
only showing top 5 rows

+---+----------------+-----------+
| ID|Experience_Years|sum(salary)|
+---+----------------+-----------+
|  9|              10|      61500|
|  6|              25|    5001000|
| 19|               2|      15000|
| 10|              15|     650000|
| 14|              11|     220100|
+---+----------------+-----------+
only showing top 5 rows

+----------------+-----------+
|Experience_Years|sum(salary)|
+----------------+-----------+
|              27|   10000000|
|               1|      69000|
|               6|    1400000|
|              16|    7600000|
|               3|     190000|
+----------------+-----------+
only showing top 5 rows

+-----------+
|sum(salary)|
+-----------+
|   72070150|
+-----------+

In [ ]:
import io
import pandas as pd
import pyspark
from pyspark import SparkContext

# Initialize SparkContext
sc = SparkContext.getOrCreate()
marks_rdd = sc.parallelize([('Rahul', 25), ('Swati', 26), ('Rohan', 22), ('Rahul', 23), ('Swati', 19), ('Shreya', 28), ('Abhay', 26), ('Rohan', 22)])
dict_rdd = marks_rdd.countByKey().items()
for key, value in dict_rdd:
    print(key, value)

Rahul 2
Swati 2
Rohan 2
Shreya 1
Abhay 1