In [ ]:
# ETL stands for

# Extract: extract the data from the different sources

# Transform: Transform the unstructured data into structured data. Transformations like cleaning, manipulation, etc.

# Load : Load the transformed data into a location or date warehouse.

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,concat,lit,floor,rand
spark = SparkSession.builder.appName("ETLPractice").getOrCreate()
source_path = "/content/LoanData.csv"
target_path = "/content/LoanDataResult.csv"
load_data = spark.read.csv("/content/LoanData.csv",header = True, inferSchema = True)

In [ ]:
load_data.columns
load_data.show(5)

+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|   Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0|    Graduate|           No|           5849|              0.0|      NULL|             360|             1|        Urban|          Y|
|LP001003|  Male|    Yes|         1|    Graduate|           No|           4583|           1508.0|       128|             360|             1|        Rural|          N|
|LP001005|  Male|    Yes|         0|    Graduate|          Yes|           3000|              0.0|        66|             360|             1|        Urban|          Y|
|LP001006|  Male|    Yes|         0|Not Graduate|           No|           2583|           2358.0|       120|             360|             1|        Urban|          Y|
|LP001008|  Male|     No|         0|    Graduate|           No|           6000|              0.0|       141|             360|             1|        Urban|          Y|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 5 rows

In [ ]:
 #Transformation 1: Concatenate First and Last Names
load_data = load_data.withColumn('Loan_detail', concat(col('Loan_ID'), lit(' '), col('ApplicantIncome')))
load_data.show(5)

+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+-------------+-------------+
| Loan_ID|Gender|Married|Dependents|   Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|  full_detail|  Loan_detail|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+-------------+-------------+
|LP001002|  Male|     No|         0|    Graduate|           No|           5849|              0.0|      NULL|             360|             1|        Urban|          Y|LP001002 5849|LP001002 5849|
|LP001003|  Male|    Yes|         1|    Graduate|           No|           4583|           1508.0|       128|             360|             1|        Rural|          N|LP001003 4583|LP001003 4583|
|LP001005|  Male|    Yes|         0|    Graduate|          Yes|           3000|              0.0|        66|             360|             1|        Urban|          Y|LP001005 3000|LP001005 3000|
|LP001006|  Male|    Yes|         0|Not Graduate|           No|           2583|           2358.0|       120|             360|             1|        Urban|          Y|LP001006 2583|LP001006 2583|
|LP001008|  Male|     No|         0|    Graduate|           No|           6000|              0.0|       141|             360|             1|        Urban|          Y|LP001008 6000|LP001008 6000|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+-------------+-------------+
only showing top 5 rows

In [ ]:
# Transformation 2: Calculate Net Salary (subtract 10% as taxes)
load_data = load_data.withColumn('net_salary', floor(lit(10000) + rand() * lit(50)))
load_data.show(10)

+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+--------------+--------------+----------+
| Loan_ID|Gender|Married|Dependents|   Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|   full_detail|   Loan_detail|net_salary|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+--------------+--------------+----------+
|LP001002|  Male|     No|         0|    Graduate|           No|           5849|              0.0|      NULL|             360|             1|        Urban|          Y| LP001002 5849| LP001002 5849|     10018|
|LP001003|  Male|    Yes|         1|    Graduate|           No|           4583|           1508.0|       128|             360|             1|        Rural|          N| LP001003 4583| LP001003 4583|     10031|
|LP001005|  Male|    Yes|         0|    Graduate|          Yes|           3000|              0.0|        66|             360|             1|        Urban|          Y| LP001005 3000| LP001005 3000|     10039|
|LP001006|  Male|    Yes|         0|Not Graduate|           No|           2583|           2358.0|       120|             360|             1|        Urban|          Y| LP001006 2583| LP001006 2583|     10036|
|LP001008|  Male|     No|         0|    Graduate|           No|           6000|              0.0|       141|             360|             1|        Urban|          Y| LP001008 6000| LP001008 6000|     10000|
|LP001011|  Male|    Yes|         2|    Graduate|          Yes|           5417|           4196.0|       267|             360|             1|        Urban|          Y| LP001011 5417| LP001011 5417|     10042|
|LP001013|  Male|    Yes|         0|Not Graduate|           No|           2333|           1516.0|        95|             360|             1|        Urban|          Y| LP001013 2333| LP001013 2333|     10003|
|LP001014|  Male|    Yes|        3+|    Graduate|           No|           3036|           2504.0|       158|             360|             0|    Semiurban|          N| LP001014 3036| LP001014 3036|     10016|
|LP001018|  Male|    Yes|         2|    Graduate|           No|           4006|           1526.0|       168|             360|             1|        Urban|          Y| LP001018 4006| LP001018 4006|     10024|
|LP001020|  Male|    Yes|         1|    Graduate|           No|          12841|          10968.0|       349|             360|             1|    Semiurban|          N|LP001020 12841|LP001020 12841|     10013|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+--------------+--------------+----------+
only showing top 10 rows

In [ ]:
#adding age column
load_data = load_data.withColumn('age', floor(lit(20) + rand() * lit(31)))
load_data.show(10)

+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+--------------+--------------+----------+---+
| Loan_ID|Gender|Married|Dependents|   Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|   full_detail|   Loan_detail|net_salary|age|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+--------------+--------------+----------+---+
|LP001002|  Male|     No|         0|    Graduate|           No|           5849|              0.0|      NULL|             360|             1|        Urban|          Y| LP001002 5849| LP001002 5849|     10018| 43|
|LP001003|  Male|    Yes|         1|    Graduate|           No|           4583|           1508.0|       128|             360|             1|        Rural|          N| LP001003 4583| LP001003 4583|     10031| 28|
|LP001005|  Male|    Yes|         0|    Graduate|          Yes|           3000|              0.0|        66|             360|             1|        Urban|          Y| LP001005 3000| LP001005 3000|     10039| 28|
|LP001006|  Male|    Yes|         0|Not Graduate|           No|           2583|           2358.0|       120|             360|             1|        Urban|          Y| LP001006 2583| LP001006 2583|     10036| 34|
|LP001008|  Male|     No|         0|    Graduate|           No|           6000|              0.0|       141|             360|             1|        Urban|          Y| LP001008 6000| LP001008 6000|     10000| 47|
|LP001011|  Male|    Yes|         2|    Graduate|          Yes|           5417|           4196.0|       267|             360|             1|        Urban|          Y| LP001011 5417| LP001011 5417|     10042| 29|
|LP001013|  Male|    Yes|         0|Not Graduate|           No|           2333|           1516.0|        95|             360|             1|        Urban|          Y| LP001013 2333| LP001013 2333|     10003| 31|
|LP001014|  Male|    Yes|        3+|    Graduate|           No|           3036|           2504.0|       158|             360|             0|    Semiurban|          N| LP001014 3036| LP001014 3036|     10016| 42|
|LP001018|  Male|    Yes|         2|    Graduate|           No|           4006|           1526.0|       168|             360|             1|        Urban|          Y| LP001018 4006| LP001018 4006|     10024| 44|
|LP001020|  Male|    Yes|         1|    Graduate|           No|          12841|          10968.0|       349|             360|             1|    Semiurban|          N|LP001020 12841|LP001020 12841|     10013| 43|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+--------------+--------------+----------+---+
only showing top 10 rows

In [ ]:
# # Transformation 3: Filter by Age (age >= 30)
load_data = load_data.filter(col('age')>= 30)
load_data.show()

+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+--------------+--------------+----------+---+
| Loan_ID|Gender|Married|Dependents|   Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|   full_detail|   Loan_detail|net_salary|age|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+--------------+--------------+----------+---+
|LP001002|  Male|     No|         0|    Graduate|           No|           5849|              0.0|      NULL|             360|             1|        Urban|          Y| LP001002 5849| LP001002 5849|     10018| 43|
|LP001006|  Male|    Yes|         0|Not Graduate|           No|           2583|           2358.0|       120|             360|             1|        Urban|          Y| LP001006 2583| LP001006 2583|     10036| 34|
|LP001008|  Male|     No|         0|    Graduate|           No|           6000|              0.0|       141|             360|             1|        Urban|          Y| LP001008 6000| LP001008 6000|     10000| 47|
|LP001013|  Male|    Yes|         0|Not Graduate|           No|           2333|           1516.0|        95|             360|             1|        Urban|          Y| LP001013 2333| LP001013 2333|     10003| 31|
|LP001014|  Male|    Yes|        3+|    Graduate|           No|           3036|           2504.0|       158|             360|             0|    Semiurban|          N| LP001014 3036| LP001014 3036|     10016| 42|
|LP001018|  Male|    Yes|         2|    Graduate|           No|           4006|           1526.0|       168|             360|             1|        Urban|          Y| LP001018 4006| LP001018 4006|     10024| 44|
|LP001020|  Male|    Yes|         1|    Graduate|           No|          12841|          10968.0|       349|             360|             1|    Semiurban|          N|LP001020 12841|LP001020 12841|     10013| 43|
|LP001024|  Male|    Yes|         2|    Graduate|           No|           3200|            700.0|        70|             360|             1|        Urban|          Y| LP001024 3200| LP001024 3200|     10007| 36|
|LP001028|  Male|    Yes|         2|    Graduate|           No|           3073|           8106.0|       200|             360|             1|        Urban|          Y| LP001028 3073| LP001028 3073|     10004| 45|
|LP001030|  Male|    Yes|         2|    Graduate|           No|           1299|           1086.0|        17|             120|             1|        Urban|          Y| LP001030 1299| LP001030 1299|     10042| 44|
|LP001032|  Male|     No|         0|    Graduate|           No|           4950|              0.0|       125|             360|             1|        Urban|          Y| LP001032 4950| LP001032 4950|     10032| 30|
|LP001036|Female|     No|         0|    Graduate|           No|           3510|              0.0|        76|             360|             0|        Urban|          N| LP001036 3510| LP001036 3510|     10034| 40|
|LP001038|  Male|    Yes|         0|Not Graduate|           No|           4887|              0.0|       133|             360|             1|        Rural|          N| LP001038 4887| LP001038 4887|     10042| 49|
|LP001041|  Male|    Yes|         0|    Graduate|         NULL|           2600|           3500.0|       115|            NULL|             1|        Urban|          Y| LP001041 2600| LP001041 2600|     10023| 31|
|LP001046|  Male|    Yes|         1|    Graduate|           No|           5955|           5625.0|       315|             360|             1|        Urban|          Y| LP001046 5955| LP001046 5955|     10012| 40|
|LP001050|  NULL|    Yes|         2|Not Graduate|           No|           3365|           1917.0|       112|             360|             0|        Rural|          N| LP001050 3365| LP001050 3365|     10043| 39|
|LP001052|  Male|    Yes|         1|    Graduate|         NULL|           3717|           2925.0|       151|             360|          NULL|    Semiurban|          N| LP001052 3717| LP001052 3717|     10045| 44|
|LP001073|  Male|    Yes|         2|Not Graduate|           No|           4226|           1040.0|       110|             360|             1|        Urban|          Y| LP001073 4226| LP001073 4226|     10012| 30|
|LP001086|  Male|     No|         0|Not Graduate|           No|           1442|              0.0|        35|             360|             1|        Urban|          N| LP001086 1442| LP001086 1442|     10037| 41|
|LP001091|  Male|    Yes|         1|    Graduate|         NULL|           4166|           3369.0|       201|             360|          NULL|        Urban|          N| LP001091 4166| LP001091 4166|     10047| 36|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+--------------+--------------+----------+---+
only showing top 20 rows

In [ ]:
# Transformation 4: Group by Age and Calculate Average Salary
avg_salary_by_age = load_data.groupBy('age').agg({'net_salary' :'avg'}).withColumnRenamed('avg(salary)', 'avg_salary')
avg_salary_by_age.show()

+---+------------------+
|age|   avg(net_salary)|
+---+------------------+
| 34|10027.666666666666|
| 50|10030.842105263158|
| 43|           10022.3|
| 32|10024.185185185184|
| 31|10021.333333333334|
| 39|10021.583333333334|
| 41| 10028.78947368421|
| 33|10024.533333333333|
| 48|           10025.4|
| 44|10023.611111111111|
| 37| 10017.57142857143|
| 49|10023.181818181818|
| 35|10030.166666666666|
| 36|10023.695652173914|
| 38|           10031.0|
| 42| 10025.91304347826|
| 30|           10028.0|
| 46| 10028.42857142857|
| 40|           10021.0|
| 47|10021.793103448275|
+---+------------------+
only showing top 20 rows

In [ ]:
load_data = load_data.orderBy("age")
load_data.show()

+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+--------------+--------------+----------+---+
| Loan_ID|Gender|Married|Dependents|   Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|   full_detail|   Loan_detail|net_salary|age|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+--------------+--------------+----------+---+
|LP001964|  Male|    Yes|         0|Not Graduate|           No|           1800|           2934.0|        93|             360|             0|        Urban|          N| LP001964 1800| LP001964 1800|     10025| 30|
|LP001032|  Male|     No|         0|    Graduate|           No|           4950|              0.0|       125|             360|             1|        Urban|          Y| LP001032 4950| LP001032 4950|     10032| 30|
|LP001073|  Male|    Yes|         2|Not Graduate|           No|           4226|           1040.0|       110|             360|             1|        Urban|          Y| LP001073 4226| LP001073 4226|     10012| 30|
|LP001565|  Male|    Yes|         1|    Graduate|           No|           3089|           1280.0|       121|             360|             0|    Semiurban|          N| LP001565 3089| LP001565 3089|     10044| 30|
|LP001639|Female|    Yes|         0|    Graduate|           No|           3625|              0.0|       108|             360|             1|    Semiurban|          Y| LP001639 3625| LP001639 3625|     10045| 30|
|LP001825|  Male|    Yes|         0|    Graduate|           No|           1809|           1868.0|        90|             360|             1|        Urban|          Y| LP001825 1809| LP001825 1809|     10043| 30|
|LP002211|  Male|    Yes|         0|    Graduate|           No|           4817|            923.0|       120|             180|             1|        Urban|          Y| LP002211 4817| LP002211 4817|     10045| 30|
|LP002288|  Male|    Yes|         2|Not Graduate|           No|           2889|              0.0|        45|             180|             0|        Urban|          N| LP002288 2889| LP002288 2889|     10029| 30|
|LP002393|Female|   NULL|      NULL|    Graduate|           No|          10047|              0.0|      NULL|             240|             1|    Semiurban|          Y|LP002393 10047|LP002393 10047|     10040| 30|
|LP002447|  Male|    Yes|         2|Not Graduate|           No|           1958|           1456.0|        60|             300|          NULL|        Urban|          Y| LP002447 1958| LP002447 1958|     10027| 30|
|LP002689|  Male|    Yes|         2|Not Graduate|           No|           2192|           1742.0|        45|             360|             1|    Semiurban|          Y| LP002689 2192| LP002689 2192|     10035| 30|
|LP002863|  Male|    Yes|        3+|    Graduate|           No|           6406|              0.0|       150|             360|             1|    Semiurban|          N| LP002863 6406| LP002863 6406|     10003| 30|
|LP002872|  NULL|    Yes|         0|    Graduate|           No|           3087|           2210.0|       136|             360|             0|    Semiurban|          N| LP002872 3087| LP002872 3087|     10012| 30|
|LP002888|  Male|     No|         0|    Graduate|         NULL|           3182|           2917.0|       161|             360|             1|        Urban|          Y| LP002888 3182| LP002888 3182|     10000| 30|
|LP002181|  Male|     No|         0|Not Graduate|           No|           6216|              0.0|       133|             360|             1|        Rural|          N| LP002181 6216| LP002181 6216|     10024| 31|
|LP002236|  Male|    Yes|         2|    Graduate|           No|           4566|              0.0|       100|             360|             1|        Urban|          N| LP002236 4566| LP002236 4566|     10044| 31|
|LP001222|Female|     No|         0|    Graduate|           No|           4166|              0.0|       116|             360|             0|    Semiurban|          N| LP001222 4166| LP001222 4166|     10040| 31|
|LP002243|  Male|    Yes|         0|Not Graduate|           No|           3010|           3136.0|      NULL|             360|             0|        Urban|          N| LP002243 3010| LP002243 3010|     10011| 31|
|LP002031|  Male|    Yes|         1|Not Graduate|           No|           3399|           1640.0|       111|             180|             1|        Urban|          Y| LP002031 3399| LP002031 3399|     10013| 31|
|LP001369|  Male|    Yes|         2|    Graduate|           No|          11417|           1126.0|       225|             360|             1|        Urban|          Y|LP001369 11417|LP001369 11417|     10002| 31|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+--------------+--------------+----------+---+
only showing top 20 rows

In [ ]:
# Save the transformed data to an external CSV file
load_data.write.csv(target_path, mode='overwrite', header=True)