In [6]:
import io
import pandas as pd
import pyspark
#Importing the Libraries
from pyspark import SparkContext
from pyspark.sql import SparkSession
#Creating a SparkContext
sc = SparkContext.getOrCreate()
#create a sparksession
spark = SparkSession.builder.appName('PySpark DataFrame From RDD').getOrCreate()

#create a rdd
rdd = sc.parallelize([('C',85,76,87,91), ('B',85,76,87,91), ("A", 85,78,96,92), ("A", 92,76,89,96)], 4)
print(type(rdd))
sub = ['Division','English','Mathematics','Physics','Chemistry']
marks_df= spark.createDataFrame(rdd, schema=sub)
print(type(marks_df))
marks_df.printSchema()
marks_df.show()

<class 'pyspark.rdd.RDD'>
<class 'pyspark.sql.dataframe.DataFrame'>
root
 |-- Division: string (nullable = true)
 |-- English: long (nullable = true)
 |-- Mathematics: long (nullable = true)
 |-- Physics: long (nullable = true)
 |-- Chemistry: long (nullable = true)

+--------+-------+-----------+-------+---------+
|Division|English|Mathematics|Physics|Chemistry|
+--------+-------+-----------+-------+---------+
|       C|     85|         76|     87|       91|
|       B|     85|         76|     87|       91|
|       A|     85|         78|     96|       92|
|       A|     92|         76|     89|       96|
+--------+-------+-----------+-------+---------+

In [7]:
import io
import pandas as pd
import pyspark
#Importing the Libraries
from pyspark import SparkContext
from pyspark.sql import SparkSession
#Creating a SparkContext
sc = SparkContext.getOrCreate()
#create a sparksession
spark = SparkSession.builder.appName('PySpark DataFrame directly').getOrCreate()
df = spark.createDataFrame(
[
("sue", 32),
("li", 3),
("bob", 75),
("heo", 13)],
["first_name", "age"]
)

df.show()
df.head(2)
df.printSchema()
df.columns

+----------+---+
|first_name|age|
+----------+---+
|       sue| 32|
|        li|  3|
|       bob| 75|
|       heo| 13|
+----------+---+

root
 |-- first_name: string (nullable = true)
 |-- age: long (nullable = true)

['first_name', 'age']

In [8]:
pip show pyspark

Name: pyspark
Version: 3.5.1
Summary: Apache Spark Python API
Home-page: https://github.com/apache/spark/tree/master/python
Author: Spark Developers
Author-email: dev@spark.apache.org
License: http://www.apache.org/licenses/LICENSE-2.0
Location: /usr/local/lib/python3.11/dist-packages
Requires: py4j
Required-by: dataproc-spark-connect

In [9]:
from pyspark.sql.functions import col, when

df = spark.createDataFrame(
    [
        ("sue", 32),
        ("li", 3),
        ("bob", 75),
        ("heo", 13),
    ],
    ["first_name", "age"]
)

df1 = df.withColumn(
    "life_stage",
    when(col("age") < 13, "child")
    .when(col("age").between(13, 19), "teenager")
    .otherwise("adult"),
)

df1.show()

+----------+---+----------+
|first_name|age|life_stage|
+----------+---+----------+
|       sue| 32|     adult|
|        li|  3|     child|
|       bob| 75|     adult|
|       heo| 13|  teenager|
+----------+---+----------+

In [10]:
import io
import pandas as pd

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("practice-Hexaware").getOrCreate()
df1 = spark.read.csv("/LoanData.csv",header = True,inferSchema = True)
df1.show()
type(df1)
df1.printSchema()
print(df1.dtypes)
df1.columns
df1.head(2)

+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
| Loan_ID|Gender|Married|Dependents|   Education|Self_Employed|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|Credit_History|Property_Area|Loan_Status|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
|LP001002|  Male|     No|         0|    Graduate|           No|           5849|              0.0|      NULL|             360|             1|        Urban|          Y|
|LP001003|  Male|    Yes|         1|    Graduate|           No|           4583|           1508.0|       128|             360|             1|        Rural|          N|
|LP001005|  Male|    Yes|         0|    Graduate|          Yes|           3000|              0.0|        66|             360|             1|        Urban|          Y|
|LP001006|  Male|    Yes|         0|Not Graduate|           No|           2583|           2358.0|       120|             360|             1|        Urban|          Y|
|LP001008|  Male|     No|         0|    Graduate|           No|           6000|              0.0|       141|             360|             1|        Urban|          Y|
|LP001011|  Male|    Yes|         2|    Graduate|          Yes|           5417|           4196.0|       267|             360|             1|        Urban|          Y|
|LP001013|  Male|    Yes|         0|Not Graduate|           No|           2333|           1516.0|        95|             360|             1|        Urban|          Y|
|LP001014|  Male|    Yes|        3+|    Graduate|           No|           3036|           2504.0|       158|             360|             0|    Semiurban|          N|
|LP001018|  Male|    Yes|         2|    Graduate|           No|           4006|           1526.0|       168|             360|             1|        Urban|          Y|
|LP001020|  Male|    Yes|         1|    Graduate|           No|          12841|          10968.0|       349|             360|             1|    Semiurban|          N|
|LP001024|  Male|    Yes|         2|    Graduate|           No|           3200|            700.0|        70|             360|             1|        Urban|          Y|
|LP001027|  Male|    Yes|         2|    Graduate|         NULL|           2500|           1840.0|       109|             360|             1|        Urban|          Y|
|LP001028|  Male|    Yes|         2|    Graduate|           No|           3073|           8106.0|       200|             360|             1|        Urban|          Y|
|LP001029|  Male|     No|         0|    Graduate|           No|           1853|           2840.0|       114|             360|             1|        Rural|          N|
|LP001030|  Male|    Yes|         2|    Graduate|           No|           1299|           1086.0|        17|             120|             1|        Urban|          Y|
|LP001032|  Male|     No|         0|    Graduate|           No|           4950|              0.0|       125|             360|             1|        Urban|          Y|
|LP001034|  Male|     No|         1|Not Graduate|           No|           3596|              0.0|       100|             240|          NULL|        Urban|          Y|
|LP001036|Female|     No|         0|    Graduate|           No|           3510|              0.0|        76|             360|             0|        Urban|          N|
|LP001038|  Male|    Yes|         0|Not Graduate|           No|           4887|              0.0|       133|             360|             1|        Rural|          N|
|LP001041|  Male|    Yes|         0|    Graduate|         NULL|           2600|           3500.0|       115|            NULL|             1|        Urban|          Y|
+--------+------+-------+----------+------------+-------------+---------------+-----------------+----------+----------------+--------------+-------------+-----------+
only showing top 20 rows

root
 |-- Loan_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Married: string (nullable = true)
 |-- Dependents: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- Self_Employed: string (nullable = true)
 |-- ApplicantIncome: integer (nullable = true)
 |-- CoapplicantIncome: double (nullable = true)
 |-- LoanAmount: integer (nullable = true)
 |-- Loan_Amount_Term: integer (nullable = true)
 |-- Credit_History: integer (nullable = true)
 |-- Property_Area: string (nullable = true)
 |-- Loan_Status: string (nullable = true)

[('Loan_ID', 'string'), ('Gender', 'string'), ('Married', 'string'), ('Dependents', 'string'), ('Education', 'string'), ('Self_Employed', 'string'), ('ApplicantIncome', 'int'), ('CoapplicantIncome', 'double'), ('LoanAmount', 'int'), ('Loan_Amount_Term', 'int'), ('Credit_History', 'int'), ('Property_Area', 'string'), ('Loan_Status', 'string')]

[Row(Loan_ID='LP001002', Gender='Male', Married='No', Dependents='0', Education='Graduate', Self_Employed='No', ApplicantIncome=5849, CoapplicantIncome=0.0, LoanAmount=None, Loan_Amount_Term=360, Credit_History=1, Property_Area='Urban', Loan_Status='Y'),
 Row(Loan_ID='LP001003', Gender='Male', Married='Yes', Dependents='1', Education='Graduate', Self_Employed='No', ApplicantIncome=4583, CoapplicantIncome=1508.0, LoanAmount=128, Loan_Amount_Term=360, Credit_History=1, Property_Area='Rural', Loan_Status='N')]

In [11]:
import io
import pandas as pd

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("practice-Hexaware").getOrCreate()
txt_file = spark.read.text("/example.txt")
txt_file.show(truncate=False)
type(txt_file)
txt_file.printSchema()
print(txt_file.dtypes)

+-----------------------+
|value                  |
+-----------------------+
|Hi I m learning Pyspark|
+-----------------------+

root
 |-- value: string (nullable = true)

[('value', 'string')]

In [36]:
import io
import pandas as pd

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("practice-Hexaware").getOrCreate()
txt_file = spark.read.text("/example.txt")
txt_file.show()
type(txt_file)
txt_file.printSchema()
print(txt_file.dtypes)

+--------------------+
|               value|
+--------------------+
|Hi I m learning P...|
+--------------------+

root
 |-- value: string (nullable = true)

[('value', 'string')]

In [12]:
import io
import pandas as pd

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("practice-Hexaware").getOrCreate()
df = spark.read.option("multiline", "true").json("/people.json")
df.show()
print(type(df))

print(df.dtypes)

+---+-----+------+
| id| name|skills|
+---+-----+------+
|  1|Pooja|Python|
|  2| Ravi| Spark|
|  3| Asha|   SQL|
+---+-----+------+

<class 'pyspark.sql.dataframe.DataFrame'>
[('id', 'bigint'), ('name', 'string'), ('skills', 'string')]

In [20]:
import io
import pandas as pd

files = ['/StudentsPerformance.csv', '/LoanData.csv']
df = spark.read.csv(files, sep = ',' ,  inferSchema=True, header=True)
pandasdf = df.toPandas()
print(type(pandasdf))
print(pandasdf.head())
df.show(5)

<class 'pandas.core.frame.DataFrame'>
   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1    null        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course math score reading score writing score
0                    none         72            72            74
1               completed         69            90            88
2                    none         90            95            93
3                    none         47            57            44
4                    null         76            78            75
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|gender|race/ethnicity|parental level of education|       lunch|test preparation course|math score|reading score|writing score|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
|female|       group B|          bachelor's degree|    standard|                   none|        72|           72|           74|
|  null|       group C|               some college|    standard|              completed|        69|           90|           88|
|female|       group B|            master's degree|    standard|                   none|        90|           95|           93|
|  male|       group A|         associate's degree|free/reduced|                   none|        47|           57|           44|
|  male|       group C|               some college|    standard|                   null|        76|           78|           75|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+
only showing top 5 rows

In [22]:
import io
import pandas as pd

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("practice-Hexaware").getOrCreate()
df = spark.read.text("/example.txt")
df.selectExpr("split(value, ' ') as Text_Data_In_Rows_Using_Text").show(4, False)
type(df)
df.printSchema()
print(df.dtypes)

+-----------------------------+
|Text_Data_In_Rows_Using_Text |
+-----------------------------+
|[Hi, I, m, learning, Pyspark]|
+-----------------------------+

root
 |-- value: string (nullable = true)

[('value', 'string')]

In [29]:
import io
import pandas as pd
# importing module
import pyspark
# import lit function
from pyspark.sql.functions import *
# importing sparksession from pyspark.sql module
from pyspark.sql import SparkSession
# creating sparksession and giving an app name
spark = SparkSession.builder.appName('sparkdf').getOrCreate()
# list of employee data
data = [["1", "sravan", "company 1"],
["2", "ojaswi", "company 1"],
["3", "rohith", "company 2"],
["4", "sridevi", "company 1"],
["5", "bobby", "company 1"]]
# specify column names
columns = ['ID', 'NAME', 'Company']
# creating a dataframe from the lists of data
df = spark.createDataFrame(data, columns)
#adding new columns
df.withColumn("salary",lit(30000)).show()
df.withColumn("Details",concat_ws("-","NAME","Company")).show()

+---+-------+---------+------+
| ID|   NAME|  Company|salary|
+---+-------+---------+------+
|  1| sravan|company 1| 30000|
|  2| ojaswi|company 1| 30000|
|  3| rohith|company 2| 30000|
|  4|sridevi|company 1| 30000|
|  5|  bobby|company 1| 30000|
+---+-------+---------+------+

+---+-------+---------+-----------------+
| ID|   NAME|  Company|          Details|
+---+-------+---------+-----------------+
|  1| sravan|company 1| sravan-company 1|
|  2| ojaswi|company 1| ojaswi-company 1|
|  3| rohith|company 2| rohith-company 2|
|  4|sridevi|company 1|sridevi-company 1|
|  5|  bobby|company 1|  bobby-company 1|
+---+-------+---------+-----------------+

In [33]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("LoanWithColumnExample").getOrCreate()

# Read CSV file into DataFrame
df = spark.read.option("header", True).option("inferSchema", True).csv('/LoanData.csv')
df = df.withColumn("LoanAmount_in_K", col("LoanAmount") / 100)
df.select("Loan_ID", "LoanAmount", "LoanAmount_in_K").show(5)

+--------+----------+---------------+
| Loan_ID|LoanAmount|LoanAmount_in_K|
+--------+----------+---------------+
|LP001002|      NULL|           NULL|
|LP001003|       128|           1.28|
|LP001005|        66|           0.66|
|LP001006|       120|            1.2|
|LP001008|       141|           1.41|
+--------+----------+---------------+
only showing top 5 rows

In [35]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit, concat_ws

spark = SparkSession.builder.appName("LoanData").getOrCreate()
loan_data = [
    ["LP001", "Pooja", 150, 360],
    ["LP002", "Ravi", 100, 360],
    ["LP003", "Anjali", 200, 120],
    ["LP004", "Raj", 130, 180],
    ["LP005", "Neha", 250, 360]
]

columns = ["Loan_ID", "ApplicantName", "LoanAmount", "Loan_Amount_Term"]
df = spark.createDataFrame(loan_data, columns)
df = df.withColumn("InterestRate", lit(8.5))  # 8.5%
df = df.withColumn("LoanDetails", concat_ws(" | ", "ApplicantName", "LoanAmount", "Loan_Amount_Term"))
df.show(truncate=False)

+-------+-------------+----------+----------------+------------+------------------+
|Loan_ID|ApplicantName|LoanAmount|Loan_Amount_Term|InterestRate|LoanDetails       |
+-------+-------------+----------+----------------+------------+------------------+
|LP001  |Pooja        |150       |360             |8.5         |Pooja | 150 | 360 |
|LP002  |Ravi         |100       |360             |8.5         |Ravi | 100 | 360  |
|LP003  |Anjali       |200       |120             |8.5         |Anjali | 200 | 120|
|LP004  |Raj          |130       |180             |8.5         |Raj | 130 | 180   |
|LP005  |Neha         |250       |360             |8.5         |Neha | 250 | 360  |
+-------+-------------+----------+----------------+------------+------------------+