In [0]:
# Variables
account = "storagehexa"
container = "adlhexa"
sas = "?sp=racwdli&st=2025-08-13T10:09:02Z&se=2025-09-13T18:24:02Z&spr=https&sv=2024-11-04&sr=c&sig=flwcChiKhE%2FtCUyOchA4tIOC9IK%2FkoGT3fGQAJhgSKU%3D"

# Configure Spark to use SAS token
spark.conf.set(
    f"fs.azure.sas.{container}.{account}.dfs.core.windows.net",
    sas.lstrip("?")  # remove leading "?" for Spark config
)

In [0]:
account = "storagehexa"
container = "adlhexa"
# Set the storage account key
spark.conf.set(
    f"fs.azure.account.key.{account}.dfs.core.windows.net",
    "ad3LiVDnS06jnZ/22L5W97qXYswpoe2tI77V5J4JlHEFI4zZtAxZz+VIo7/n7g/1dWOUuYQgAVt5+ASt+6T6FQ=="
)

# List the files in the specified container
dbutils.fs.ls(f"abfss://{container}@{account}.dfs.core.windows.net/")

[FileInfo(path='abfss://adlhexa@storagehexa.dfs.core.windows.net/employees.csv', name='employees.csv', size=3778, modificationTime=1755080816000)]

In [0]:
account = "storagehexa"
container = "adlhexa"
sas_token = "?sp=racwdli&st=2025-08-13T10:09:02Z&se=2025-09-13T18:24:02Z&spr=https&sv=2024-11-04&sr=c&sig=flwcChiKhE%2FtCUyOchA4tIOC9IK%2FkoGT3fGQAJhgSKU%3D"

# Full ABFSS path
csv_path = f"abfss://{container}@{account}.dfs.core.windows.net/employees.csv"

# Tell Spark to use SAS token
spark.conf.set(f"fs.azure.sas.{container}.{account}.dfs.core.windows.net", sas_token[1:])

# Read CSV
df = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load(csv_path)

display(df)

EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
198,Donald,OConnell,DOCONNEL,650.507.9833,21-JUN-07,SH_CLERK,2600,-,124,50
199,Douglas,Grant,DGRANT,650.507.9844,13-JAN-08,SH_CLERK,2600,-,124,50
200,Jennifer,Whalen,JWHALEN,515.123.4444,17-SEP-03,AD_ASST,4400,-,101,10
201,Michael,Hartstein,MHARTSTE,515.123.5555,17-FEB-04,MK_MAN,13000,-,100,20
202,Pat,Fay,PFAY,603.123.6666,17-AUG-05,MK_REP,6000,-,201,20
203,Susan,Mavris,SMAVRIS,515.123.7777,07-JUN-02,HR_REP,6500,-,101,40
204,Hermann,Baer,HBAER,515.123.8888,07-JUN-02,PR_REP,10000,-,101,70
205,Shelley,Higgins,SHIGGINS,515.123.8080,07-JUN-02,AC_MGR,12008,-,101,110
206,William,Gietz,WGIETZ,515.123.8181,07-JUN-02,AC_ACCOUNT,8300,-,205,110
100,Steven,King,SKING,515.123.4567,17-JUN-03,AD_PRES,24000,-,-,90
101,Neena,Kochhar,NKOCHHAR,515.123.4568,21-SEP-05,AD_VP,17000,-,100,90
102,Lex,De Haan,LDEHAAN,515.123.4569,13-JAN-01,AD_VP,17000,-,100,90
103,Alexander,Hunold,AHUNOLD,590.423.4567,03-JAN-06,IT_PROG,9000,-,102,60
104,Bruce,Ernst,BERNST,590.423.4568,21-MAY-07,IT_PROG,6000,-,103,60
105,David,Austin,DAUSTIN,590.423.4569,25-JUN-05,IT_PROG,4800,-,103,60
106,Valli,Pataballa,VPATABAL,590.423.4560,05-FEB-06,IT_PROG,4800,-,103,60
107,Diana,Lorentz,DLORENTZ,590.423.5567,07-FEB-07,IT_PROG,4200,-,103,60
108,Nancy,Greenberg,NGREENBE,515.124.4569,17-AUG-02,FI_MGR,12008,-,101,100
109,Daniel,Faviet,DFAVIET,515.124.4169,16-AUG-02,FI_ACCOUNT,9000,-,108,100
110,John,Chen,JCHEN,515.124.4269,28-SEP-05,FI_ACCOUNT,8200,-,108,100
111,Ismael,Sciarra,ISCIARRA,515.124.4369,30-SEP-05,FI_ACCOUNT,7700,-,108,100
112,Jose Manuel,Urman,JMURMAN,515.124.4469,07-MAR-06,FI_ACCOUNT,7800,-,108,100
113,Luis,Popp,LPOPP,515.124.4567,07-DEC-07,FI_ACCOUNT,6900,-,108,100
114,Den,Raphaely,DRAPHEAL,515.127.4561,07-DEC-02,PU_MAN,11000,-,100,30
115,Alexander,Khoo,AKHOO,515.127.4562,18-MAY-03,PU_CLERK,3100,-,114,30
116,Shelli,Baida,SBAIDA,515.127.4563,24-DEC-05,PU_CLERK,2900,-,114,30
117,Sigal,Tobias,STOBIAS,515.127.4564,24-JUL-05,PU_CLERK,2800,-,114,30
118,Guy,Himuro,GHIMURO,515.127.4565,15-NOV-06,PU_CLERK,2600,-,114,30
119,Karen,Colmenares,KCOLMENA,515.127.4566,10-AUG-07,PU_CLERK,2500,-,114,30
120,Matthew,Weiss,MWEISS,650.123.1234,18-JUL-04,ST_MAN,8000,-,100,50
121,Adam,Fripp,AFRIPP,650.123.2234,10-APR-05,ST_MAN,8200,-,100,50
122,Payam,Kaufling,PKAUFLIN,650.123.3234,01-MAY-03,ST_MAN,7900,-,100,50
123,Shanta,Vollman,SVOLLMAN,650.123.4234,10-OCT-05,ST_MAN,6500,-,100,50
124,Kevin,Mourgos,KMOURGOS,650.123.5234,16-NOV-07,ST_MAN,5800,-,100,50
125,Julia,Nayer,JNAYER,650.124.1214,16-JUL-05,ST_CLERK,3200,-,120,50
126,Irene,Mikkilineni,IMIKKILI,650.124.1224,28-SEP-06,ST_CLERK,2700,-,120,50
127,James,Landry,JLANDRY,650.124.1334,14-JAN-07,ST_CLERK,2400,-,120,50
128,Steven,Markle,SMARKLE,650.124.1434,08-MAR-08,ST_CLERK,2200,-,120,50
129,Laura,Bissot,LBISSOT,650.124.5234,20-AUG-05,ST_CLERK,3300,-,121,50
130,Mozhe,Atkinson,MATKINSO,650.124.6234,30-OCT-05,ST_CLERK,2800,-,121,50
131,James,Marlow,JAMRLOW,650.124.7234,16-FEB-05,ST_CLERK,2500,-,121,50
132,TJ,Olson,TJOLSON,650.124.8234,10-APR-07,ST_CLERK,2100,-,121,50
133,Jason,Mallin,JMALLIN,650.127.1934,14-JUN-04,ST_CLERK,3300,-,122,50
134,Michael,Rogers,MROGERS,650.127.1834,26-AUG-06,ST_CLERK,2900,-,122,50
135,Ki,Gee,KGEE,650.127.1734,12-DEC-07,ST_CLERK,2400,-,122,50
136,Hazel,Philtanker,HPHILTAN,650.127.1634,06-FEB-08,ST_CLERK,2200,-,122,50
137,Renske,Ladwig,RLADWIG,650.121.1234,14-JUL-03,ST_CLERK,3600,-,123,50
138,Stephen,Stiles,SSTILES,650.121.2034,26-OCT-05,ST_CLERK,3200,-,123,50
139,John,Seo,JSEO,650.121.2019,12-FEB-06,ST_CLERK,2700,-,123,50
140,Joshua,Patel,JPATEL,650.121.1834,06-APR-06,ST_CLERK,2500,-,123,50

In [0]:
# Load from local FileStore (adjust path if needed)
df = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("/FileStore/tables/employees.csv")

# Show schema
df.printSchema()

# First few rows
df.show(5, truncate=False)

# Total rows
print(f"Total rows: {df.count()}")

# Summary statistics
df.describe().show()

# Value counts by Department
df.groupBy("HIRE_DATE").count().show()

# Average salary per Department
df.groupBy("HIRE_DATE").avg("Salary").show()

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMMISSION_PCT: string (nullable = true)
 |-- MANAGER_ID: string (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|EMAIL   |PHONE_NUMBER|HIRE_DATE|JOB_ID  |SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|198        |Donald    |OConnell |DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|2600  | -            |124       |50           |
|199        |Douglas   |Grant    |DGRANT  |650.507.9844|13-JAN-08|SH_CLERK|2600  | -            |124       |50           |
|200        |Jennifer  |Whalen   |JWHALEN |515.123.4444|17-SEP-03|AD_ASST |4400  | -            |101       |10           |
|201        |Michael   |Hartstein|MHARTSTE|515.123.5555|17-FEB-04|MK_MAN  |13000 | -            |100       |20           |
|202        |Pat       |Fay      |PFAY    |603.123.6666|17-AUG-05|MK_REP  |6000  | -            |201       |20           |
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
only showing top 5 rows
Total rows: 50
+-------+------------------+----------+---------+------+------------+---------+----------+------------------+--------------+------------------+-----------------+
|summary|       EMPLOYEE_ID|FIRST_NAME|LAST_NAME| EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|            SALARY|COMMISSION_PCT|        MANAGER_ID|    DEPARTMENT_ID|
+-------+------------------+----------+---------+------+------------+---------+----------+------------------+--------------+------------------+-----------------+
|  count|                50|        50|       50|    50|          50|       50|        50|                50|            50|                50|               50|
|   mean|            134.76|      NULL|     NULL|  NULL|        NULL|     NULL|      NULL|           6182.32|          NULL|114.83673469387755|             57.6|
| stddev|33.631593504213456|      NULL|     NULL|  NULL|        NULL|     NULL|      NULL|4586.1817716319265|          NULL|20.591611296406917|25.11686968666959|
|    min|               100|      Adam| Atkinson|AFRIPP|515.123.4444|01-MAY-03|AC_ACCOUNT|              2100|            - |                - |               10|
|    max|               206|   William|   Whalen|WGIETZ|650.507.9844|30-SEP-05|    ST_MAN|             24000|            - |               205|              110|
+-------+------------------+----------+---------+------+------------+---------+----------+------------------+--------------+------------------+-----------------+

+---------+-----+
|HIRE_DATE|count|
+---------+-----+
|06-APR-06|    1|
|28-SEP-06|    1|
|21-SEP-05|    1|
|21-JUN-07|    1|
|14-JAN-07|    1|
|07-FEB-07|    1|
|24-DEC-05|    1|
|03-JAN-06|    1|
|10-OCT-05|    1|
|10-APR-07|    1|
|12-DEC-07|    1|
|01-MAY-03|    1|
|07-DEC-02|    1|
|10-AUG-07|    1|
|16-AUG-02|    1|
|06-FEB-08|    1|
|05-FEB-06|    1|
|18-MAY-03|    1|
|17-AUG-05|    1|
|17-AUG-02|    1|
+---------+-----+
only showing top 20 rows
+---------+-----------+
|HIRE_DATE|avg(Salary)|
+---------+-----------+
|06-APR-06|     2500.0|
|28-SEP-06|     2700.0|
|21-SEP-05|    17000.0|
|21-JUN-07|     2600.0|
|14-JAN-07|     2400.0|
|07-FEB-07|     4200.0|
|24-DEC-05|     2900.0|
|03-JAN-06|     9000.0|
|10-OCT-05|     6500.0|
|10-APR-07|     2100.0|
|12-DEC-07|     2400.0|
|01-MAY-03|     7900.0|
|07-DEC-02|    11000.0|
|10-AUG-07|     2500.0|
|16-AUG-02|     9000.0|
|06-FEB-08|     2200.0|
|05-FEB-06|     4800.0|
|18-MAY-03|     3100.0|
|17-AUG-05|     6000.0|
|17-AUG-02|    12008.0|
+---------+-----------+
only showing top 20 rows

In [0]:
delta_path = "/mnt/delta/employees"

df.write.format("delta").mode("overwrite").save(delta_path)

In [0]:
spark.sql("""
    CREATE TABLE employees_delta
    USING DELTA
    LOCATION '/mnt/delta/employees'
""")

DataFrame[]

In [0]:
spark.sql("SELECT * FROM employees_delta LIMIT 10").show()

spark.sql("""
    SELECT FIRST_NAME, COUNT(*) AS emp_count, AVG(Salary) AS avg_salary
    FROM employees_delta
    GROUP BY FIRST_NAME
""").show()

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|            - |       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|            - |       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|            - |       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|            - |       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|            - |       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|            - |       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|            - |       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|            - |       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|            - |        - |           90|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+

+-----------+---------+----------+
| FIRST_NAME|emp_count|avg_salary|
+-----------+---------+----------+
|      Neena|        1|   17000.0|
|     Shelli|        1|    2900.0|
|      James|        2|    2450.0|
|      Jason|        1|    3300.0|
|    Shelley|        1|   12008.0|
|    Matthew|        1|    8000.0|
|   Jennifer|        1|    4400.0|
|Jose Manuel|        1|    7800.0|
|      Diana|        1|    4200.0|
|     Ismael|        1|    7700.0|
|      Mozhe|        1|    2800.0|
|    Hermann|        1|   10000.0|
|    Michael|        2|    7950.0|
|      Susan|        1|    6500.0|
|        Pat|        1|    6000.0|
|        Guy|        1|    2600.0|
|      Julia|        1|    3200.0|
|      Irene|        1|    2700.0|
|     Joshua|        1|    2500.0|
|     Donald|        1|    2600.0|
+-----------+---------+----------+
only showing top 20 rows

In [0]:
spark.sql("""
SELECT *
FROM employees
ORDER BY Salary DESC
LIMIT 1
""").show()

+---+----+------------+-------+
| id|name|  department| salary|
+---+----+------------+-------+
|  3|Riya|Data Science|82000.0|
+---+----+------------+-------+

In [0]:
spark.sql("""
SELECT Department, ROUND(AVG(Salary), 2) AS avg_salary
FROM employees
GROUP BY Department
ORDER BY avg_salary DESC
""").show()

+----------------+----------+
|      Department|avg_salary|
+----------------+----------+
|    Data Science|   82000.0|
|Data Engineering|   75000.0|
|       Analytics|   68000.0|
+----------------+----------+

In [0]:
df = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("/FileStore/tables/employees.csv")

In [0]:
dept_count = df.groupBy("SALARY").count()
display(dept_count)  # Pie or bar chart

SALARY,count
6500,2
12008,2
2200,2
7800,1
4200,1
3200,2
13000,1
8200,2
2600,3
24000,1
6900,1
10000,1
5800,1
3300,2
8300,1
2800,2
3600,1
7900,1
4400,1
7700,1
6000,2
17000,2
2100,1
11000,1
9000,2
2400,2
4800,2
3100,1
8000,1
2900,2
2500,3
2700,2

Databricks visualization. Run in Databricks to view.

In [0]:
age_dist = df.select("JOB_ID")
display(age_dist)  # Histogram

JOB_ID
SH_CLERK
SH_CLERK
AD_ASST
MK_MAN
MK_REP
HR_REP
PR_REP
AC_MGR
AC_ACCOUNT
AD_PRES
AD_VP
AD_VP
IT_PROG
IT_PROG
IT_PROG
IT_PROG
IT_PROG
FI_MGR
FI_ACCOUNT
FI_ACCOUNT
FI_ACCOUNT
FI_ACCOUNT
FI_ACCOUNT
PU_MAN
PU_CLERK
PU_CLERK
PU_CLERK
PU_CLERK
PU_CLERK
ST_MAN
ST_MAN
ST_MAN
ST_MAN
ST_MAN
ST_CLERK
ST_CLERK
ST_CLERK
ST_CLERK
ST_CLERK
ST_CLERK
ST_CLERK
ST_CLERK
ST_CLERK
ST_CLERK
ST_CLERK
ST_CLERK
ST_CLERK
ST_CLERK
ST_CLERK
ST_CLERK

Databricks visualization. Run in Databricks to view.